<% stylesheet_link_tag 'users/show' %>
<div id="per-user-details">
  <%= render "users/user_tile", user: @user%>
  <%=form_with model: User.new, url: destroy_user_session_path, method: :delete, html: {class: "log-out"} do %> <button class="custom-button">Sign out</button>
  <% end %>
  <div class="button-container">
    <%= link_to new_user_post_path(@user) do %>
      <button>Create a new post</button>
    <% end %>
  </div>
  <div id="bio">
    <h2>Bio:</h2>
    <p><%=@user.bio %></p>
  </div>
  <ul>
    <% @all_posts.each do |post| %>
      <li>
        <%= render 'posts/post_tile', post: post, user: @user%>
        <%= render 'posts/most_recent_comments', post: post%>
      </li>
    <%end%>
  </ul>
  <div id="all-posts-btn">
    <%= link_to user_posts_path(@user) do %>
      <button>See all posts</button>
    <%end%>
  </div>
</div>
