<!DOCTYPE html>
<html>
  <head>
    <title>BlogAppIi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Luckiest+Guy&family=Montserrat:wght@400;700&display=swap') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
